<html>
<head>
</head>
<body>


Post a review!
<br>

<form action="/recipes/review" method="post">
<label for="username">Username:</label><br>
<input type="text" id="username" name="username"><br>
<label for="stars">Number of Stars (1-5):</label><br>
<input type="text" id="stars" name="stars"><br>
<label for="recipe_id">Recipe Id:</label><br>
<input type="text" id="recipe_id" name="recipe_id"><br>
<label for="review_title">Review Title:</label><br>
<input type="text" id="review_title" name="review_title"><br>
<label for="review_desc">Review Description:</label><br>
<input type="text" id="review_desc" name="review_desc"><br>
<input type="submit" value="Submit">
</form>



<a href="/logout">Logout</a>

</body>


</html>